
body{
    background-color: #B22222;
}
.carousel img{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}
.carousel-caption{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.klink{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color:whitesmoke;
    border: 1px groove black;
    border-radius: 5px;
    font-size: larger;
    margin-top: auto;
    
}
.boxt img{
    width: 170px;
}
.boxr img{
    width: 170px;
}
.boxt{
    width: 200px;
    height: 450px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(63, 10, 10);
    color: white;
}
.boxr{
    width: 200px;
    height: 250px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(63, 10, 10);
    color: white;
}
#felfele-gomb {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    padding-top: 15px;
    font-weight: 800;
    background-color: #464545;
    color: rgba(245, 245, 245, 0.699);
    text-align: center ;
    height: 36px;
}
#rendeles{
    width: 500px;
    text-align: center;
    margin-left: 35%;
    margin-right: 25%;
}
#rolunk{
    text-align: center;
    margin-left: 30%;
    margin-right: 25%;
    width: 830px;
}
#rendeles img{
    height: 150px;
}

form{
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    text-align: center;
    background-color:  rgb(45, 9, 9);
    width: 500px;
    color: white;
}
