
body{
    background-color: #B22222;
}
.carousel img{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}
.carousel-caption{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.klink{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color:whitesmoke;
    border: 1px groove black;
    border-radius: 5px;
    font-size: larger;
    margin-top: auto;
    
}
.boxt img{
    width: 170px;
}
.boxt{
    width: 200px;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(63, 10, 10);
    color: white;
}
